:root{
    --base-color: #8b3398
}

.task-container{
    width: 500px;
    min-height: 65px;
    background-color: var(--base-color);
    margin: 10px 0;
    padding: 8px 15px 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.task-container:nth-child(3n+1) {
    background-color: #8b3398b7 ;
}

.task-container:nth-child(3n+2) {
    background-color: #8b33986f ;
}

.task-container:nth-child(3n+3) {
    background-color: #8b339830 ;
}

.task-text{
    width: 100%;
    height: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
}

.task-icon{
    width: 25px;
    height: 25px;
    margin: 4px;
}

.task-container.complete{
    background-color: var(--base-color);
    text-decoration: line-through;
}